boto3==1.38.14 ; python_version >= "3.11" and python_full_version <= "3.13.0"
botocore==1.38.14 ; python_version >= "3.11" and python_full_version <= "3.13.0"
certifi==2025.4.26 ; python_version >= "3.11" and python_full_version <= "3.13.0"
charset-normalizer==3.4.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
click==8.2.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
colorama==0.4.6 ; python_version >= "3.11" and python_full_version <= "3.13.0" and platform_system == "Windows"
greenlet==3.2.2 ; python_version >= "3.11" and python_full_version <= "3.13.0" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
idna==3.10 ; python_version >= "3.11" and python_full_version <= "3.13.0"
jmespath==1.0.1 ; python_version >= "3.11" and python_full_version <= "3.13.0"
numpy==2.2.5 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pandas==2.2.3 ; python_version >= "3.11" and python_full_version <= "3.13.0"
psycopg2-binary==2.9.10 ; python_version >= "3.11" and python_full_version <= "3.13.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
pytz==2025.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
requests==2.32.3 ; python_version >= "3.11" and python_full_version <= "3.13.0"
s3transfer==0.12.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
six==1.17.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
sqlalchemy==2.0.40 ; python_version >= "3.11" and python_full_version <= "3.13.0"
tabulate==0.9.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
typing-extensions==4.13.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
tzdata==2025.2 ; python_version >= "3.11" and python_full_version <= "3.13.0"
urllib3==2.4.0 ; python_version >= "3.11" and python_full_version <= "3.13.0"
